body {
  width: 100vw;
  height: 100vh;
  background: rgb(252, 244, 228);
}
.App {
  text-align: center;
}
.title{
  margin: 40px;
}
.list {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.box {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(212, 253, 253);
  background:white;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin: 10px;
}
.confirm {
  margin-bottom: 20px;
}
.edit-input {
  margin: 15px 5px;
}
.btn-container {
  margin-bottom: 10px;
}
button {
  padding: 8px 10px;
  background: mediumaquamarine;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.form-input {
  padding: 8px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(172, 223, 223);
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}
.edit-input {
  padding: 8px;
  border: 2px solid rgb(172, 223, 223);
  border-radius: 5px;
}
